body {
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(rgb(252, 139, 139), rgba(154, 164, 255, 0.144));
}

header {
    background: linear-gradient(rgba(136, 179, 243, 0.726), rgba(108, 83, 219, 0.486));
    padding: 70px 0;
}

header img,
footer img {
    width: 170px; /* Puedes ajustar este valor según lo necesites */
}

.caja {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 45px;
    right: 0;
}

nav li {
    display: inline-block;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
}

nav a:hover {
    color: #df9746f5;
    text-decoration: underline;
}

.productos {
    width: 940px;
    margin: 0 auto;
    padding: 50px;
}

.productos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;
}

.productos li:hover {
    border-color: #cfb20e6c;
}

.productos li:active {
    border-color: rgba(5, 160, 165, 0.227);
}

.productos h2 {
    font-size: 30px;
    font-weight: bold;
}

.productos-descipcion {
    font-size: 18px;
}

.productos-precio {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

footer {
    text-align: center;
    background: url(img/bg.jpg);
    padding: 40px;
}

.copyright {
    color: azure;
    font-size: 15px;
    margin: 20px;
}
